{% load static %} 
<div class="row">
    <div class="col-lg-12">
        <div class="section-block">
            <h3 class="section-title">My Active Campaigns</h3>
        </div>
        <div class="card">
            <div class="campaign-table table-responsive">
                <table class="table">
                    <thead>
                        <tr class="border-0">
                            <th class="border-0">NAME</th>
                            <th class="border-0">EMAIL</th>
                            <th class="border-0">NO. OF UNITS</th>
                            <th class="border-0">PROPERT TYPE</th>
                            <th class="border-0">AMMENITIES</th>
                            <th class="border-0">CITY</th>
                            <th class="border-0">CONTACTS</th>
                            <th class="border-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in properties %} 
                                <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.number_of_units}}</td>
                                <td>{{item.property_type}}</td>
                                <td> {% for i in item.property_ammenities.all %}
                        <li>{{i}}</li>
                    {%  endfor %}</td>
                                <td>{{item.city}}</td>                                
                                <td>{{item.contacts}}</td>
                                <td><div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="true">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                                        <!-- item-->
                                    </div>
                                </div></td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>