{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="section-block">
            <h3 class="section-title">Property Types</h3>
        </div>
        <div class="card">
            <div class="campaign-table table-responsive">
                <table class="table">
                    <thead>
                        <tr class="border-0">
                            <th class="border-0">NAME</th>
                            <th class="border-0">CREATED DATE</th>
                            <th class="border-0">UPDATED DATE</th>
                            <th class="border-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in property_types %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.created_date}}</td>
                            <td>{{item.updated_date}}</td>
                            <td>
                                <div class="dropdown float-right">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="true">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                                        <!-- item-->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>